$background-color: #4e5860;
$light-color: #f1f8f9;
$grey-color: #8d9396;
$blue-color: #54bae6;
$dark-color: #2e3335;
$paddings: 46px, 33px, 38px;
$icons: '../images/wind.png', '../images/humidity.png', '../images/sun.png';
